{% for item in content_inline_benzer %}
	<div class="related-news">
		<a
			href="{{item.content_url}}" title="{{item.content_title}}">
			<figure class="related-news-image">
				<img
					src="{{G_IMGLINK_APP}}lazy.png"
					data-src="{{item.content_thumb_url}}"
					alt="{{item.content_title}}"
					width="250" height="147"/>
				<noscript>
				<img
					src="{{item.content_thumb_url}}"
					alt="{{item.content_title}}"
					width="250" height="147"/>
				</noscript>
			</figure>
			<div class="related-news-title">{{item.content_title|raw}}</div>
		</a>
	</div>
{% endfor %}
