<script>
	$(function()
	{
		/* Kategori Manset Slider */
		$('.category-slider-list').utilCarousel(
				{
					breakPoints 	: [[1920, 1]],
					mouseWheel		: false,
					autoPlay		: true,
					scrollPerPage	: true,
					lazyLoad 		: false,
					drag			: false,
					touch			: false,
					interval		: 4000,
					showItems		: 1,
					slideSpeed		: 1,
					indexChanged : function(index)
					{
						$(".category-slider-page li ").removeClass("active");
						$(".category-slider-page li:eq("+index+")").addClass("active");
					}
				});

		$(".category-slider-page li:eq(0)").addClass("active");
		$('.category-slider-page li').on('mouseout', function()  { $('.category-slider-list').data('utilCarousel').play(); });
		$('.category-slider-page li').on('mouseover', function() { $('.category-slider-list').data('utilCarousel').stop(); });

	});

	function categorySlidergoGoTo(frmAti) { $('.category-slider-list').data('utilCarousel').goTo(frmAti); }
	function categorySliderMenuAlt(){ $("#cs-" + index  ).addClass("active"); }
</script>
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [
		{ "@type": "ListItem", "position": 1, "item": { "@id": "{{LINK_INDEX}}", "name": "Ana Sayfa" } },
		{ "@type": "ListItem", "position": 2, "item": { "@id": "{{cat_url[cat_id]}}", "name": "{{cat_name[cat_id]}}" } }
	]
}
</script>

{% include 'block/block_reklam.twig' with {type : 'define_cat',cat_slug:cat_url_slug[cat_id] }%}
{% include 'block/block_reklam.twig' with {type : 'cat_masthead', cat_slug:cat_url_slug[cat_id] }%}
{% include 'block/block_reklam.twig' with {type : 'cat_pageskin', cat_slug:cat_url_slug[cat_id]}%}
{% include 'block/block_reklam.twig' with {type : 'cat_sol1', cat_slug:cat_url_slug[cat_id]}%}
{% include 'block/block_reklam.twig' with {type : 'cat_sag1', cat_slug:cat_url_slug[cat_id]}%}
<div class="module-container margin60">
	<div class="slider-module-category">
		<ul class="category-slider-list">
			{% for i in 0..5 %}
				<li>
					<a
						target="_blank" rel="noopener noreferrer"
						href="{{content_list[i].content_url}}" title="{{content_list[i].content_title}}">
						<figure class="slider-module-list-image">
							<img
								src="{{content_list[i].content_image_url}}"
								alt="{{content_list[i].content_title}}"
								width="588" height="334"
							/>
						</figure>
						<div class="slider-module-list-mask">
							<div class="slider-module-list-title">
								{{content_list[i].content_title|raw}}
							</div>
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
		<ul class="category-slider-page">
			{% for i in 0..5 %}
				<li>
					<a
						target="_blank" rel="noopener noreferrer"
						href="{{content_list[i].content_url}}"
						title="{{content_list[i].content_title}}"
						id="cs-{{i+1}}"
						onmouseover="categorySlidergoGoTo({{i}});">{{i+1}}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	<ul class="slider-module-line">
		{% for i in 6..8 %}
			<li>
				<a
					target="_blank" rel="noopener noreferrer"
					href="{{content_list[i].content_url}}" title="{{content_list[i].content_title}}">
					<figure class="slider-module-line-image">
						<img
							src="{{G_IMGLINK_APP}}lazy.png"
							data-src="{{content_list[i].content_image_url}}"
							alt="{{content_list[i].content_title}}"
							width="179" height="100"/>
						<noscript>
						<img
							src="{{content_list[i].content_image_url}}"
							alt="{{content_list[i].content_title}}"
							width="179" height="100"/>
						</noscript>
					</figure>
					<div class="slider-module-line-title">
						{{content_list[i].content_title|raw}}
					</div>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% include 'block/block_reklam.twig' with {type : 'cat_manset_alti', cat_slug:cat_url_slug[cat_id] }%}
<div class="col-12">
	<div class="col-8">
		<ul id="results" class="module-type-category">
			{% for i in 9..(content_list|length)-1 %}
				<li>
					<a
						target="_blank" rel="noopener noreferrer"
						href="{{content_list[i].content_url}}" title="{{content_list[i].content_title}}">
						<figure class="module-type-category-image">
							<img
								src="{{G_IMGLINK_APP}}lazy.png"
								data-src="{{content_list[i].content_thumb_url}}"
								alt="{{content_list[i].content_title}}"
								width="203" height="119"/>
							<noscript>
							<img
								src="{{content_list[i].content_thumb_url}}"
								alt="{{content_list[i].content_title}}"
								width="203" height="119"/>
							</noscript>
						</figure>
						<div class="module-type-category-title">
							{{content_list[i].content_title|raw}}
						</div>
					</a>
				</li>
			{% endfor %}
		</ul>
		<div id="loadMore" class="load-more {{color}}"><i class="icon">&#xe827;</i></div>

		{% include 'block/block_reklam.twig' with {type : 'cat_sayfa_alti', cat_slug:cat_url_slug[cat_id] }%}

	</div>
	<aside class="col-4">
		{% include 'block/block_reklam.twig' with {type : 'cat_sag_2', cat_slug:cat_url_slug[cat_id] }%}
		{% include 'block/block_aside_onecikanlar.twig' %}
		{% include 'block/block_reklam.twig' with {type : 'cat_sag_3', cat_slug:cat_url_slug[cat_id] }%}
	</aside>
</div>

{%include "ajax/ajax_page_load.twig" with {type:"cat"}%}
