{% for item in content_list %}
	<li>
		<a
			target="_blank" rel="noopener noreferrer"
			href="{{item.content_url}}"
			title="{{item.content_title}}">
			<figure class="module-type-category-image">
				<img
					src="{{G_IMGLINK_APP}}lazy.png"
					data-src="{{item.content_thumb_url}}"
					alt="{{item.content_title}}"
					width="203" height="119"/>
				<noscript>
				<img
					src="{{item.content_thumb_url}}"
					alt="{{item.content_title}}"
					width="203" height="119"/>
				</noscript>
			</figure>
			<div class="module-type-category-title">
				{{item.content_title|raw}}
			</div>
		</a>
	</li>
{% endfor %}
