{% for item in content_list %}
	<li>
		<a href="{{item.content_url}}"
			title="{{item.content_title}}">
			<figure class="mobile-gallery-list-image">
				<img
					src="{{G_IMGLINK_APP}}lazy.png"
					data-src="{{item.content_thumb_url}}"
					alt="{{item.content_title}}"
					width="100%" height="195"/>
				<noscript>
				<img
					src="{{item.content_thumb_url}}"
					alt="{{item.content_title}}"
					width="100%" height="195"/>
				</noscript>
			</figure>
			<div class="mobile-gallery-list-mask">
				<div class="mobile-gallery-list-icon">
					<i class="icon">&#xe80a;</i>
				</div>
				<div class="mobile-gallery-list-title">
					{{item.content_title|raw}}
				</div>
			</div>
		</a>
	</li>
{% endfor %}
